/***COLORS****/
$primary-color:#2777e1;
$secondry-color:#4fc855;
$third-color:#e5f0ff;
$white-color: #fff;
$primary-bg: #2777e1;
$gray-bg:#aaa;
$secondary-bg: #4fc855;
$flag-product-bg-default: #0a4fcd;
/***SIZE****/
$headings-font-weight: 700;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$base-font-size: 0,8125rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.4375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$mailFontFamily: "Roboto";
$font-family-syne:'Syne', sans-serif;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;
$extra-bold:800;
/***EFFET****/
$box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
$border-radius-cercle: 100%;
$display-flex:flex;

