.carousel {
  position: relative;
  bottom: 1.6rem;
  left: 0;
  margin-right: -2rem;
  margin-left: -2rem;
}
.carousel .carousel-inner {
  height: 455px;
}
.carousel .carousel-item .caption{
  position: absolute;
  left: 7rem;
  color: #100e0e;
  bottom: 7rem;
  width: 100%; 
  padding: 1rem;
}
.circle-carousel {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  display: $display-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carousel .carousel-control .icon-next i, 
.carousel .carousel-control .icon-prev i {
  position: absolute;
  top: 1rem;
  font-size: 2.5rem;
}
.carousel .direction .carousel-control i {
  background: transparent;
}
@media (max-width: 767px){
  .carousel .carousel-item .caption {
    text-align: left;
    top: 2rem;
  }
}
@media (max-width: 991px){
  .carousel {
    left: 1.05rem !important;
  }
  .carousel .carousel-item .caption {
    text-align: left;
    bottom: 0;
  }
}
@media (min-width: 1365px) {
  .product-slider .col-lg-2 {
    min-width: 20%;
  }
  .product-slider .col-lg-2:nth-child(5n+1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .product-slider .col-lg-2 {
    min-width: 25% !important;
  }
  .product-slider .col-lg-2:nth-child(4n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-slider .col-lg-2 {
    min-width: 33.3333%;
  }
  .product-slider .col-lg-2:nth-child(3n+1) {
    clear: left;
  }
}
@media (max-width: 767px) {
  .product-slider .col-lg-2 {
    min-width: 50%;
  }
  .product-slider .col-lg-2:nth-child(2n+1) {
    clear: left;
  }
}