
.carousel {
  display:$display-flex;
  margin-bottom: 1.5rem;
  align-items: center;
  background-color:$white-color;
}
.carousel .carousel-inner {
  height: auto !important;
}
.product-slider {
  padding: 0 30px;
  display: $display-flex;
  transition: transform 0.3s ease-in-out;
}
.carousel-icon {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  color: $white-color;
}
.product-miniature:hover{
  box-shadow:$box-shadow;
  transform: scale(1.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.product-miniature .product-title {
  text-align: left;
}
.product-miniature .product-price-and-shipping {
  text-align: left;
}
.wishlist-button-add {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
}
.products article .wishlist-button-add {
  display: none;
  bottom: 0;
  top: inherit;
  background-color:$gray-bg;
}
.products article:hover .wishlist-button-add {
  display: block;
}
.wishlist-button-add i, .cart-icon {
  right: .4rem;
  top: 1.2rem;
  position: absolute;
  color: $white-color !important;
}
.add-cart{
  color:$white-color;
}
.product-miniature .thumbnail-top {
  border: 2px solid $gray-bg;
}
.custom-function {
  position: absolute;
  bottom: 0;
 right: 3rem;
  transform: translateX(-50%);
  z-index: 9;
}
.progress {
  height: 0.18rem;
  background-color: #e3dbdb;
  margin-bottom: 2rem;
}
.progress-title {
  max-width: 97%;
}
.progress-bar {
  padding: 1.8px;
  background-color:$primary-bg;
  width: 25%;
}
.circle_prev,
.circle_next {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #2777e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
}
.circle_prev{
  margin-left: -30px;
}
@media (max-width: 991px){
  #carouselNewProducts,
  #carouselBestSellers
   {
    width: 100%;
    left: 1.05rem !important; 
}
.circle_prev, 
.circle_next {
  top: -70px;
}
.circle_prev{
  margin-left: 0;
}
.progress-title {
  max-width: 89%;
}
}