<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cellule</name>
	<displayName><![CDATA[cellules]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[consulté la liste des cellules]]></description>
	<author><![CDATA[dhouibi eya]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
