<form
  name="cellule_list"
  id="ellule_list"
  method="post"
  {# action="{{ path('admin_cellule', {'limit': limit, 'orderBy': orderBy, 'sortOrder': sortOrder}) }}"
  orderingurl="{{ path('admin_cellule', {offset: 0, 'limit': 300, 'orderBy': 'position_ordering', 'sortOrder': sortOrder}) }}" #}
>
  <div class="row">
    <div class="col-md-12">
    <div class="table-responsive">
    <table class="table cellule mt-3">
      {% block cellule_form_table %}_column_nom
        {{ include('@Modules/cellule/views/templates/admin/cellule_table.html.twig')}}
         {% include '@Modules/cellule/views/templates/admin/cellule_list.html.twig' %}
      {% endblock %}
      </table>
      </div>
    </div>
  </div>

  {# {% if product_count_filtered > 20 %}
    <div class="row">
      <div class="col-md-12">

        {{ render(controller('PrestaShopBundle:Admin\\Common:pagination', {
          'limit': limit,
          'offset': offset,
          'total': product_count_filtered,
          'caller_route': app.request.attributes.get('_route'),
          'caller_parameters': pagination_parameters,
          'limit_choices': pagination_limit_choices
          })) }}
      </div>
    </div>
  {% endif %} #}
</form>
