{% extends 'PrestaShopBundle:Admin:layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
    <div class="row">
     <div class="col-sm-12">
       {% include '@Modules/cellule/views/templates/admin/grid_panel.html.twig' with {'grid': celluleGrid} %}
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('../modules/cellule/views/public/grid.bundle.js') }}"></script>
{% endblock %}
